*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.main1 {
   width: 100vw;
   height:100vh;
   background-color: #060606;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: center; */
   grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
grid-auto-rows: minmax(50px, auto);
}
.main2 {
  width:100vw;
  height:100vh;
  display: grid;
  grid-template-columns: repeat(6,2fr);
  grid-template-rows: repeat(5,2fr);
  gap:10px;
  background-color: #ab0808;
  
}
.color {
 
    width: 100px;
    height: 50px;
    text-align: center;

}
.same{
    background-color: #fff;
    grid-column: 1/7;
    text-align: center;
    height: 50px;
    
}
div>h2 {
    margin-top: 10px;
}
.btn {
  display: flex;
  justify-content: center;
}